.btn {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  min-width: 2rem;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #0d6efd;
  color: #ffffff;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: #0069d9;
  color: #ffffff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
}
.btn-secondary {
  background-color: #5a6268;
  color: #ffffff;
}

.btn-danger {
  background-color: #dc3545;
  color: #ffffff;
}
.btn-danger:hover {
  background-color: #c82333;
  color: #ffffff;
}

.btn-warning {
  background-color: #ffc107;
  color: #ffffff;
}
.btn-warning:hover {
  background-color: #e0a800;
  color: #ffffff;
}

.btn-info {
  background-color: #17a2b8;
  color: #ffffff;
}
.btn-info:hover {
  background-color: #138496;
  color: #ffffff;
}

.btn-light {
  background-color: #f8f9fa;
}
.btn-light:hover {
  background-color: #e2e6ea;
}

.btn-dark {
  background-color: #212529;
  color: #ffffff;
}
.btn-dark:hover {
  background-color: #23272b;
  color: #ffffff;
}

.btn-successful {
  background-color: #55aa55;
}
.btn-successful:hover {
  cursor: pointer;
  background-color: #448844;
}