.form-input {
  box-sizing: border-box;
  border: 2px solid #ced4da;
  padding: 7px 10px;
  font-size: 0.8rem;
  width: 100%;
}
.form-input:focus {
  outline: 2px solid #bfdeff;
}

.form-label {
  width: 100%;
  line-height: 30px;
  margin-right: 10px;
  font-size: 0.8rem;
}

.form-textarea {
  box-sizing: border-box;
  border: 2px solid #ced4da;
  padding: 7px 10px;
  font-size: 0.8rem;
  width: 100%;
  /*resize: none;*/
  min-height: 12rem;
}
.form-textarea:focus {
  outline: 2px solid #bfdeff;
}
.resize-vertical {
  resize: vertical;
}
.resize-horizontal {
  resize: horizontal;
}
.resize-none {
  resize: none;
}
.resize-both {
  resize: both;
}

.select {
  min-width: 4rem;
  box-sizing: border-box;
  border: 2px solid #ced4da;
}
.select:focus {
  outline: 2px solid #bfdeff;
}

.form-group {
  /*display: flex;*/
  margin: 5px 0;
}

.form-group > * {
  margin: 5px 0;
}

